/* Body */
body {
    background: url("../images/sand.jpg");
    color: #5A0000;
    font-family: sans-serif;
}
h1{
    font-size: 2.5em;
    color: green;
    margin-top: 0;
}
h2{
    font-size: 2em;
    color: green;
}
a{
    color: darkgreen;
}
a:hover{
    color: lightgreen;
}
p{

}
input[type=submit] {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid #018dc4;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    color: rgba(255,255,255,0.9);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: -webkit-linear-gradient(-48.36646066342979deg, rgba(0,79,9,1) 0, rgba(9,249,4,0.8) 100%);
    background: -moz-linear-gradient(138.3664606634298deg, rgba(0,79,9,1) 0, rgba(9,249,4,0.8) 100%);
    background: linear-gradient(138.3664606634298deg, rgba(0,79,9,1) 0, rgba(9,249,4,0.8) 100%);
    background-position: 50% 50%;
    background-origin: padding-box;
    background-clip: border-box;
    background-size: auto auto;
    -webkit-box-shadow: 5px 5px 4px 0 rgba(0,255,0,0.5) ;
    box-shadow: 5px 5px 4px 0 rgba(0,255,0,0.5) ;
    width: 80px;
}
input {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 5px 10px;
    border: 1px solid #000000;
    -webkit-border-radius: 9px;
    border-radius: 9px;
    color: rgba(0,0,0,0.9);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: rgba(0,128,0,1);
    -webkit-box-shadow: 1px 1px 1px 0 rgba(0,255,0,0.5) ;
    box-shadow: 1px 1px 1px 0 rgba(0,255,0,0.5) ;
    width: 150px;
}

label span.error {
    background-color: red;
    border-bottom-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    box-shadow: 5px 5px #777777;
    margin-left: 0.5em;
    padding: 0.5em;
    color: white;
}

label{
    display: block;
    margin: 0.5em;
}
label span.text{
    display: block;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    font-weight: bold;
}

label span.error:empty, .error:empty {
    display: none;
}

label span {
    margin-left: 0.5em;
}

/* Menu */
nav ul {
    background-color: green;
    padding: 0.4em 0;
    display: inline-block;
    border-left: 2px solid green;
    border-radius: 10px;
}

nav li {
    display: inline;
}

nav li a {
    color: white;
    font-weight: bold;
    padding-left: 0.5em;
    text-decoration: none;
    vertical-align: middle;
}
nav li:last-child{
    padding-right: 0.5em;
}

nav li a:hover {
    color: greenyellow;
}

.talen{
    margin-top: 15px;
}
.talen img{
    border: 0;
    margin-left: 15px;
}


/* Footer */
footer{
    padding-top: 1.5em;
}
footer p {
    border: 2px solid green;
    padding: 0.2em;
    display: inline-block;
    color: black;
    font-weight: bolder;
    font-size: 0.8em;
}

/*Terrarium raster
container flexbox */
#Days{
    font-size: 1.5em;
    color: darkblue;
    font-weight: bolder;
}
.container {
    margin: 1em;
      display: flex;
      flex-flow: row nowrap;
}
/* raster flexbox */
.raster {
    display: flex;
    flex-flow: column nowrap;
    border-top: 1px solid green;
    border-right: 1px solid green;
}
/* colom */
.raster > div {
    display: flex;
    flex-flow: row nowrap;
    position: relative;

}
/* row */
.raster > div > div {
    width: 50%;
    position: relative;
    border-bottom: 1px solid green;
    border-left: 1px solid green;
    background-color: rgba(255,255,255,0.3);
}
.raster .lifeBol{
    margin-top: 0;
    margin-right: 0;
    border: 1px solid red;
    border-radius: 50%;
    float: right;
    position: absolute;
    right: 3px;
    top: 3px;
    z-index: 1000;
    color: white;
    background-color: red;
    font-weight: bold;
    text-align: center;
    min-width: 1em;
    min-height: 1em;
}
.raster .lifespanBol{
    margin-top: 0;
    margin-right: 0;
    border: 1px solid blue;
    border-radius: 50%;
    float: left;
    position: absolute;
    left: 3px;
    top: 3px;
    z-index: 1000;
    color: white;
    background-color: blue;
    font-weight: bold;
    text-align: center;
    min-width: 1em;
    min-height: 1em;
}
.cell img{
    width: 6.25em;
    height: 6.25em;

}
/* msg under board */
#msg{
    background-color: red;
    border-bottom-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    box-shadow: 5px 5px #777777;
    margin-left: 0.5em;
    padding: 0.5em;
    display: inline-block;
}
#msg:empty{
    display: none;
}

/*Index page*/
.imagesIndex{
	overflow: auto;
}
.imageContainer{
	float: left;
	margin: 15px;
}
.imagesIndex img{
    width: 6.25em;
    height: 6.25em;
}
.imageContainer{
	float: left;
	margin: 15px;
}
.imagesIndex p{
	text-align: center;
}





